.vscode
**/MDK-ARM/DebugConfig/**
**/MDK-ARM/RTE/**
**/Listings/**
**/Objects/**
*.map
*.hex
*.o
*.d
*.htm
*.dep
*.lnp
*.iex
*.lst
*.axf
*.crf
*.hex
*.Bak
*.uvguix.*
*.scvd
*.usb.tmp
**/DebugConfig/**
*.uvmpw.uvgui.*